body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: white;
}

html,
body {
  min-width: 1440px;
  min-height: 2476px;
}

a {
  text-decoration: none;
}

*, *::after, *::before {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
  box-sizing: border-box;
}

.reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-header {
  margin-bottom: 36px;
  background-color: #eeeeee;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* Временно для сетки */
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  padding-top: 50px;
}

.main-header-logo {
  width: 160px;
  height: 65px;
}

.main-header-logo:hover img {
  opacity: 0.7;
}

.main-header-logo:active img {
  opacity: 0.3;
}

.main-navigation-wrapper {
  display: flex;
  margin-bottom: 5px;
  padding-top: 28px;
}

/*catalog.html*/
.inner-page {
  width: 1440px;
  margin-bottom: 57px;
  background-color: #eeeeee;
  min-height: 355px;
}

.site-navigation {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 500px;
  margin: 0;
  padding: 0;
}

.user-navigation {
  margin-left: 240px;
  max-width: 180px;
}

.site-navigation-link {
  color: black;
}

.site-navigation-link:hover,
.site-navigation-link:focus {
  color: #f97276;
}

.site-navigation-link:active {
  color: #a7a7a7;
}

.user-navigation .basket {
  padding-left: 45px;
  position: relative;
}

.basket::before {
  content: "";

  position: absolute;
  top: 3px;
  left: 18px;

  width: 20px;
  height: 15px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.basket {
  color: black;
}

.basket:hover,
.basket:focus {
  color: #f97276;
}

.basket:active {
  color: #a7a7a7;
}

.slider {
  position: relative;
  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls i {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls i::after {
  content: "";

  position: absolute;
  top: 4px;
  left: 4px;
  z-index: 1;

  width: 10px;
  height: 10px;

  background: #ffffff;

  border-radius: 50%;
}

.slider-controls .active::before {
  content: "";

  position: absolute;
  left: 60%;
  top: 60%;
  z-index: 2;

  width: 4px;
  height: 4px;
  margin: -4px;

  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

/*catalog.html*/
.active {
  border-bottom: 2px solid #fb565a;
}

.slider-list {
  margin: 0;
  padding: 0;
}

.slider-item {
  display: none;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

.slider-item:nth-child(1) {
  display: block;
}

.slider-item-container {
  max-width: 430px;
  padding-bottom: 90px;
}

.slider-item h3 {
  margin: 0;
  margin-bottom: 27px;
  margin-top: 56px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  margin: 0;
  margin-bottom: 38px;
}

.button {
  display: block;
  width: 240px;
  padding: 13px 0;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: #000000;
}


.nerds-list {
  margin: 0 auto;
  padding: 0 10px;
  margin-top: 71px;
  margin-bottom: 77px;
}

.nerds-features {
  display: flex;
  justify-content: space-around;
  min-height: 350px;
  margin: 0;
  padding: 0;
}

.nerds-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 300px;
  min-height: 350px;
  margin-top: 71px;
  background-color: rgba(0, 0, 0, 0);
}

.nerds-item h3 {
  margin-top: 24px;
  margin-bottom: 20px;
  color: black;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.nerds-item p {
  color: #3b4348;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.button-red {
  width: 160px;
  height: 50px;
  background-color: #fb565a;
}

.button-red:hover {
  background-color: #e74246;
}

.button-red:active {
  background-color: #d7373b;
}

.button-green {
  width: 160px;
  height: 50px;
  background-color: #00ca74;
}

.button-green:hover {
    background-color:#00bc6c;
  }

.button-green:active {
  background-color: #00aa62;
}

.button-yellow {
  width: 160px;
  height: 50px;
  background-color: #efc84a;
}

.button-yellow:hover {
  background-color:#eab534;
}

.button-yellow:active {
  background-color: #e5a722;
}

.company-info h3 {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.company-info p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.company-info h4,
.company-stats h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.order-list {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.nerds-slogan {
  display: flex;
  justify-content: space-between;
  margin-top: 41px;
  margin-right: 140px;
  margin-bottom: 14px;
  margin-left: 140px;
  border-top: 2px solid #eeeeee; /* Параметры линии */
  margin-top: 20px; /* Отступ слева */
  padding-top: 10px; /* Расстояние от линии до текста */
}

.company-info {
  min-height: 524px;
  width: 756px;
}

.nerds-slogan h3 {
  width: 756px;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  margin-bottom: 30px;
}

.nerds-slogan p {
  color: #283136;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 40px;
}

.nerds-slogan h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  color: #283136;
  margin-bottom: 24px;
}

.nerds-slogan ul {
  color: #283136;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  position: relative;
}

.order-list {
  overflow: hidden;
}

.order-list-item::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
} /*тут все что смог - нужен совет - линии в плотную не идут*/

.order-list-item {
  position: relative;
  padding-left: 25px;
}


.company-stats {
  margin-top: 40px;
  min-height: 524px;
  width: 358px;
}

.company-stats h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.stats {
  margin-top: 40px;
}

.stats-item {
  position: relative;
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
}

.stats-item sup {
  position: absolute;
  top: 13px;
  font-size: 26px;
  font-weight: 700;
}

.stats-text {
  margin-top: 15px;
  color: #283136;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
} /*как это сделать отступы между 146 и уровень самоотдачи*/


.nerds-partners-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 14px;
  margin-bottom: 80px;
  border-top: 2px solid #eeeeee; /* Параметры линии */
  border-bottom: 2px solid #eeeeee; /* Параметры линии */
  padding-top: 46px; /* Расстояние от линии до текста */
  padding-bottom: 44px;
}

.nerds-partners-item {
  position: relative;
}

.nerds-partners-item::after {
  content: "";
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
  position: absolute;
  top: 5px;
  right: -50px;
}

.nerds-partners-item:last-child::after{
  display: none;
}

.nerds-partners-item:active {
  opacity: 0.3;
}

.map-container {
  min-width: 1440px;
  margin: 0 auto;
  min-height: 416px;
  position: relative;
}
/*карту не сделал на весь экран */

.nerds-contacts {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: flex-start;
  top: 60px;
  left: 140px;
  background-color: white;
  width: 319px;
  height: 308px;
}

.nerds-contacts h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  margin-top: 47px;
  margin-left: 50px;
  text-transform: uppercase;
}

.nerds-contacts p {
  margin: 0;
  margin-left: 50px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #666666;
}

.nerds-contacts .number {
  color: #666666;
  margin-left: 50px;
}

.nerds-contacts .map-button {
  align-items: flex-start;
  margin-top: 36px;
  margin-left: 50px;
  margin-bottom: 47px;
  width: 219px;
}

.map-marker {
  position: absolute;
  left: 820px;
  top: 90px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

.main-footer {
  min-height: 218px;
}

.main-footer .main-footer-container {
  display: flex;
}

.social-list {
  min-height: 79px;
  width: 263px;
  margin-right: 139px;
  margin-top: 69px;
  margin-bottom: 69px;
}

.social-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 79px;
  height: 79px;
  background-color: #e1e1e1;
  border-radius: 40px 40px 40px 40px;
  cursor: pointer;
}

.main-footer-container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 260px;
}

.slogan {
  margin: 0;
  width: 651px;

  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}

.slogan-discount {
  margin: 0;
  min-height: 79px;
  width: 373px;
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  /*text-align: left;*/
}

.feature-item p {
  margin: 0 10px;
}

.slogan-text {
  margin-top: 79px;
  margin-bottom: 8px;
}


.popup {
  width: 960px;
  height: 590px;
  box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
  background-color: rgba(0, 0, 0, 0);
  margin-left: 70px;
  margin-bottom: 70px;
  display: inline-block;
  position: relative;
}

.popup h3 {
  margin-top: 64px;
  margin-right: 414px;
  margin-bottom: 42px;
  margin-left: 100px;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.popup-close {
  position: absolute;
  top: 75px;
  right: 25px;
  border: none;
  opacity: 0.6;
  cursor: pointer;

}

.popup-close:hover {
  opacity: 1;
}

.popup-close:active {
  opacity: 0.3;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  width: 760px;
  margin-left: 100px;
  margin-right: 100px;
}

.feedback-container {
  display: flex;
  justify-content: space-between;
}

.feedback-option {
  width: 360px;

  margin: 0;
  margin-bottom: 10px;
}

.feedback-option label {
  display: block;
  margin-bottom: 14px;
}

.feedback-field {
  width: 360px;
  min-height: 50px;
  margin-right: 20px;
}

.feedback-option input {
  box-sizing: border-box;
  width: 360px;

  padding-top: 14px;
  padding-left: 15px;
  padding-right: 136px;
  padding-bottom: 21px;

  font: inherit;

  background-color: transparent;
  border: 2px solid #d7dcde;
}

.feedback-option textarea {
  box-sizing: border-box;
  width: 760px;
  min-height: 118px;

  padding-top: 14px;
  padding-left: 15px;
  padding-right: 136px;
  padding-bottom: 21px;

  font: inherit;

  background-color: transparent;
  border: 2px solid #d7dcde;
}

.feedback-option input:hover {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #b4b9bb;
}

.feedback-option textarea:hover {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #b4b9bb;
}

.feedback-option input:focus {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #000000;
}

.feedback-option textarea:focus {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #000000;
}

.feedback-option input:invalid {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #e74246;
  color: #e74246; /*почему то цвет не задает как в стайлгайде*/
}

.feedback-option textarea:invalid {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #e74246;
}

/*разметка флексами catalog.html*/


.page-title {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  text-align: center;
  margin-top: 92px;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.catalog-filters {
  width: 260px;
  min-height: 800px;
  margin-right: 140px;
}

.filter-form fieldset {
  border: none;
}

.filter-form legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.filter-item {
  margin: 0;
  padding: 0;

  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.range-controls {
  position: relative;

  height: 80px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 10px;

  width: 4px;
  height: 4px;
  padding: 1px;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 2px;
  margin-left: 10px;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

/* Сетка */

.filter-first {
  padding-left: 0;
}

.filter-first legend {
  padding-top: 52px;
  line-height: 30px;
  padding-bottom: 10px;
}

.filter-first-option {
  margin-bottom: 15px;
  padding-left: 30px;
}

.filter-first-option label {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #283136;
  position: relative;
  opacity: 0.6;
}

.filter-first-option label::before {
  content:"";
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on.svg");
  position: absolute;
  background-repeat: no-repeat;
  left: -30px;
}

.filter-first-option label:hover {
  opacity: 0.9;
}

.filter-first-option label:disabled {
  opacity: 0.1;
}

.filter-empty-option {
  margin-bottom: 15px;
  padding-left: 30px;
}

.filter-empty-option label {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #283136;
  position: relative;
  opacity: 0.6;
}

.filter-empty-option label::before {
  content:"";
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  position: absolute;
  background-repeat: no-repeat;
  left: -30px;
}

.filter-empty-option label:hover {
  opacity: 0.9;
}

.filter-empty-option label:disabled {
  opacity: 0.1;
}

/*---------------*/

/*Особенности:*/
.filter-features {
  padding-left: 0;
}

.filter-features legend {
  padding-top: 46px;
  line-height: 30px;
  padding-bottom: 10px;
}

.filter-features-checkbox {
  margin-bottom: 15px;
  padding-left: 30px;
}

.filter-features-checkbox label {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #283136;
  position: relative;
  opacity: 0.6;
}

.filter-features-checkbox label::before {
  content:"";
  width: 25px;
  height: 25px;
  background-image: url("../img/checkbox-on.svg");
  position: absolute;
  background-repeat: no-repeat;
  left: -30px;
}

.filter-features-checkbox label:hover {
  opacity: 0.9;
}

.filter-features-checkbox label:disabled {
  opacity: 0.1;
}

.empty-checkbox {
  margin-bottom: 15px;
  padding-left: 30px;
}

.empty-checkbox label {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #283136;
  position: relative;
  opacity: 0.6;
}

.empty-checkbox label::before {
  content:"";
  width: 25px;
  height: 25px;
  background-image: url("../img/checkbox-off.svg");
  position: absolute;
  background-repeat: no-repeat;
  left: -30px;
}

.empty-checkbox label:hover {
  opacity: 0.9;
}

.empty-checkbox label:disabled {
  opacity: 0.1;
}

.filter-button {
  display: block;
  height: 50px;
  width: 260px;
  padding: 13px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  margin-top: 10px;
  background-color: #eeeeee;
  border-radius: 3px;
  border: none;
}

.filter-button:hover {
  background-color: #dfdfdf;
}

.filter-button:active {
  color: #969696;

  background-color: #d5d5d5;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

/*----------------*/

/*Сортировать*/
.row {
  display: flex;
  margin-top: 3px;
}

.sort {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.row-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 360px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.row-sort {
  margin-right: 160px;
  min-width: 240px;
}

.row-navigation-link {
  color: black;
  padding-right: 25px;
}

/*-----------*/

/*Каталог*/

.catalog-list {
  margin-top: 49px;
}

.catalog-item {
  width: 360px;
  margin-bottom: 33px;
  min-height: 576px;
  margin-right: 40px;
  /*background-color: transparent;
  box-shadow: inset 0 1px 0 1px gray;*/

  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.catalog-items {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
}


.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item::before {
  content:"";
  width: 360px;
  height: 40px;
  background-color: #eaeaea;
  background-image: url("../img/shape.png");
  position: absolute;
}
/*
.catalog-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #4d4d4d;
}
 */

.catalog-item-info h4 {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.catalog-item-info h4:hover {
  color: #fb565a;
}

.catalog-item-info h4:active {
  color: #b3b3b3;
}

.catalog-item-info p {
  color: #666666;
}

.button-catalog {
  background-color: #fb565a;
}

.button-catalog:hover {
  background-color: #e74246;
}

.button-catalog:active {
  background-color: #d7373b;
}

.pagination-list {
  padding: 0;
  margin: 0;
  /* Временно для сетки */
  min-height: 50px;
}

.pagination-item-link{
  color: #000000;
}

.pagination-item-link:hover {
  background-color: #dfdfdf;
}

.pagination-item-link:focus,
.pagination-item-link:active {
  background-color: #d5d5d5;
}

.current {
  color: #000000;
  background-color: #ffffff;
}

.current:hover {
  background-color: #dfdfdf;
}

.current:focus,
.current:active {
  background-color: #d5d5d5;
}

/*-----------------*/





















