body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: white;
}

html,
body {
  min-width: 1440px;
  min-height: 2476px;
}

a {
  text-decoration: none;
}

*, *::after, *::before {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.reset-list {
  list-style: none;
}

.top-container {
  width: 1440px;
  min-height: 545px;
  margin-top: 9px;
  margin-left: 83px;
  margin-bottom: 71px;
  background-color: #eeeeee;
}

.main-header {
  margin-bottom: 36px;
  background-color: #eeeeee;
  /* Временно для сетки */
  height: 50px;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* Временно для сетки */
  min-height: 35px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

.main-header-logo {
  width: 160px;
  height: 50px;
  margin-top: 40px;
  margin-bottom: 75px;
  margin-left: 55px;
  /*display: block;*/
}

.main-header-logo:hover img {
  opacity: 0.7;
}

.main-header-logo:active img {
  opacity: 0.3;
}

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 38px;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-around; /*вот тут не могу понять почему отсутпы от логотипа не могу норм сделать? когда делаю sdpace-between не получается*/
}

.inner-page {
  width: 1440px;
  margin-bottom: 57px;
  background-color: #eeeeee;
  min-height: 355px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin: 0;
  padding: 0;
  /* Временно для сетки*/
  min-height: 40px;

  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);
}

.user-navigation {
  display: flex;
  max-width: 180px;
  margin: 0;
  padding: 0;
  /* Временно для сетки*/
  min-height: 40px;

  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);
}

.site-navigation a,
.user-navigation a {
  display: block;
  padding-top: 65px;
  padding-right: 24px;
  padding-bottom: 35px;
  padding-left: 24px;

  vertical-align: middle;
}

.site-navigation-link {
  color: black;
}

.site-navigation-link:hover,
.site-navigation-link:focus {
  color: #f97276;
}

.site-navigation-link:active {
  color: #a7a7a7;
}

.user-navigation .basket {
  padding-left: 45px;
  position: relative;
}

.basket::before {
  content: "";

  position: absolute;
  top: 73px;
  left: 18px; /*вот тут я не понял - когда я измеряю расстояние от иконки - в лекции сказали измерить всерху и слева. Я сделал - слева получается 43 - если так сделать то иконка наезжает на слово КОРЗИНА*/

  width: 20px;
  height: 15px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.basket {
  color: black;
}

.basket:hover,
.basket:focus {
  color: #f97276;
}

.basket:active {
  color: #a7a7a7;
}

.slider {
  position: relative;
  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls i {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;

  /* Временно для демонстрации */
}

.slider-controls i::after {
  content: "";

  position: absolute;
  top: 4px;
  left: 4px;
  z-index: 1;

  width: 10px;
  height: 10px;

  background: #ffffff;

  border-radius: 50%;
}

.slider-controls .active::before {
  content: "";

  position: absolute;
  left: 60%;
  top: 60%;
  z-index: 2;

  width: 4px;
  height: 4px;
  margin: -4px;

  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

.slider-item:nth-child(1) {
  display: block;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.button {
  display: block;
  width: 240px;
  padding: 13px 0;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.slider-button {
  background-color: #f97276;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
}

.slider-button:hover {
  background-color: #e74246;
}

.slider-button:active {
  background-color: #d7373b;
}

/*
.slider1 {
  width: 698px;
  height: 413px;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../img/slide1.png");
  background-position: top left;
  background-repeat: no-repeat;
}

.slider2 {
  width: 663px;
  height: 430px;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../img/slide2.png");
  background-position: top left;
  background-repeat: no-repeat;
}

.slider3 {
  width: 759px;
  height: 411px;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../img/slide3.png");
  background-position: top left;
  background-repeat: no-repeat;
}

.slider-title {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.slider-text {
  color: #283136;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
 */

.nerds-item-title {
  color: black;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.nerds-item p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.button-red {
  background-color: #fb565a;
}


.button-red:hover {
  background-color: #e74246;
}

.button-red:active {
  background-color: #d7373b;
}

.button-green {
  background-color: #00ca74;
}

.button-green:hover {
    background-color:#00bc6c;
  }

.button-green:active {
  background-color: #00aa62;
}

.button-yellow {
  background-color: #efc84a;
}

.button-yellow:hover {
  background-color:#eab534;
}

.button-yellow:active {
  background-color: #e5a722;
}

.company-info h3 {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.company-info p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.company-info h4,
.company-stats h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.order-list {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.filter-form fieldset {
  border: none;
}

.filter-form legend {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-option {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #586064;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #283136;
}

.filter-input:disabled + label {
  color: #bfc2c3;
  opacity: 0.5;
}

.catalog-item {
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.catalog-item::before {
  content:"";
  width: 360px;
  height: 40px;
  background-color: #eaeaea;
  background-image: url("../img/shape.png");
  position: absolute;
}
/*
.catalog-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #4d4d4d;
}
 */

.catalog-item-info h4 {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.catalog-item-info h4:hover {
  color: #fb565a;
}

.catalog-item-info h4:active {
  color: #b3b3b3;
}

.catalog-item-info p {
  color: #666666;
}

.button-catalog {
  background-color: #fb565a;
}

.button-catalog:hover {
  background-color: #e74246;
}

.button-catalog:active {
  background-color: #d7373b;
}

.pagination-item-link{
  color: #000000;
}

.pagination-item-link:hover {
  background-color: #dfdfdf;
}

.pagination-item-link:focus,
.pagination-item-link:active {
  background-color: #d5d5d5;
}

.current {
  color: #000000;
  background-color: #ffffff;
}

.current:hover {
  background-color: #dfdfdf;
}

.current:focus,
.current:active {
  background-color: #d5d5d5;
}

.slogan {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  /*text-align: center;*/
}

.slogan-discount {
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  /*text-align: left;*/
}

/* ----- Сеточные стили ----- */

.nerds-list {
  margin: 0 auto;
  padding: 0 10px;
  margin-top: 71px;
  margin-bottom: 77px;
}

.nerds-features {
  display: flex;
  justify-content: space-between;
  min-height: 350px;
  margin: 0;
  padding: 0;
}

.nerds-item {
  min-height: 350px;
  width: 300px;
}

.nerds-slogan {
  display: flex;
  justify-content: space-between;
  margin-top: 41px;
  margin-right: 140px;
  margin-bottom: 14px;
  margin-left: 140px;
}

.company-info {
  min-height: 524px;
  width: 756px;
}

.company-stats {
  min-height: 524px;
  width: 358px;
}

.nerds-partners {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  min-height: 181px;
}

.map-container {
  width: 1440px;
  margin: 0 auto;
  min-height: 416px;
  position: relative;
}

.nerds-contacts {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 140px;
  background-color: white;
  width: 319px;
  height: 308px;
}

.nerds-contacts h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

.nerds-contacts p {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #666666;
  text-align: center;
}

.nerds-contacts .number {
  color: #666666;
}

.nerds-contacts a {
  text-align: center;
}

.map-marker {
  position: absolute;
  left: 820px;
  top: 90px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

.main-footer {
  min-height: 218px;
  padding: 69px 0;
}

.main-footer .main-footer-container {
  display: flex;
}

.social-list {
  min-height: 79px;
  width: 263px;
  margin-right: 139px;
}

.slogan {
  margin: 0;
  min-height: 79px;
  width: 651px;
}

.slogan-discount {
  margin: 0;
  min-height: 79px;
  width: 373px;
}

/*разметка флексами catalog.html*/

.page-title {
  text-align: center;
  margin: 0;
  margin-top: 189px;
  margin-bottom: 119px;
  padding: 0;

  /* Временно для сетки */
  min-height: 47px;
}

.catalog-filters {
  width: 260px;
  min-height: 800px;
}

.catalog-list {
  width: 1440px;
  min-height: 800px;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
}

.catalog-item {
  width: 360px;
  margin-bottom: 33px;
  min-height: 576px;
  margin-right: 50px;
  /*background-color: transparent;
  box-shadow: inset 0 1px 0 1px gray;*/
}

.catalog-items {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
}

.pagination-list {
  padding: 0;
  margin: 0;
  /* Временно для сетки */
  min-height: 50px;
}

















